
@media(max-width:295px)
{
    /*DOBRA  5*/
    section.dobra-5{
        margin-top: -2450px !important;
    }
    #bg-5{
        min-height: 2800px i !important;
    }

    /*DOBRA 3 3*/

    section.dobra-3 {
    
        margin-top: -1645px !important;
    }
    #bg-3 {
        min-height: 1800px !important;
        margin-top: -250px !important;
    }

}

@media(max-width:360px)
{
    /*DOBRA 3*/

    section.dobra-3 {
    
        margin-top: -1745px !important;
    }
}



@media(max-width:425px)
{
    /*DOBRA 2*/

    #bg-2{
        min-height: 900px;
    }

    /*DOBRA 3*/

    .out-container {
        padding-left: 2em;
        padding-right: 2em;
    }

    #bg-3 {
        min-height: 1900px;
        margin-top: -250px;
    }

    section.dobra-3 {
    
        margin-top: -1790px;
    }

    /*DOBRA 5*/
    #bg-5{
        min-height: 2750px;

    }
    section.dobra-5{
        margin-top: -2400px;

    }
}

@media(min-width:426px) and (max-width: 479px)
{
     /*DOBRA 5 */
     #bg-5 {
        min-height: 2650px;
    }

    section.dobra-5{
        margin-top: -2200px;

    }
}
@media(min-width:480px) and (max-width:496px)
{
    /*DOBRA 3*/
    #bg-3 {
        min-height: 2100px !important;
        margin-top: -450px !important;
    }

    section.dobra-3{
        margin-top: -1800px !important;
    }

    /*DOBRA 5 */
    #bg-5 {
        min-height: 2900px;
    }

    section.dobra-5{
        margin-top: -2500px;

    }
    
}