img
{
   width: 36%;
   margin: auto;
}

@media screen and (max-width:767px) and (min-width:425px){
    img {
        width: 50%;
    }

}
@media screen and (max-width:426px){
    img {
        width: 60%;
    }

}
@media screen and (max-width:376px){
    img {
        width: 70%;
    }

}
@media screen and (max-width:321px){
    img {
        width: 80%;
    }

}



