/* html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
} */
footer {
    position: fixed;
    padding-top: 5em;
    width: 100%;
    bottom: 0%;
    background-color: #484c4b;
}

.footer-box {
    width: 50%;
    padding: 1%;
    float: left;
  
}

.company-footer .social{
    font-size: 33px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.button-footer{
    width: 50px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}
footer .wrapper::after{
    clear: both;
    content: "";
}

.company-footer {
    width: 80%;
}