
.contact {
    text-align: center;
    padding: 0 1rem;
}

.contact fieldset{
    max-width: 100%;
}
.contact input, .contact textarea{
    text-align: center;
    margin: 1rem 0;
    width:100%;
    border-radius: 2em;
    padding: 1rem;
    /* width: 11em; */
    background-color: #f7f7f7;
    opacity: 0.7;
    border-style: none;
    outline: none;
}
.contact textarea:focus{
    text-align: left;
}

button.send-message{
    margin-top: 1rem;
    padding: 0.5rem 5rem;
   
}


.together {
    max-width: 100%;
    display: flex;
}


