@font-face {
    font-family:'Lato-Regular';
    src:url("../fonts/Lato-Regular.ttf");
}
@font-face {
    font-family:'Lato-Black';
    src:url("../fonts/Lato-Black.ttf");
}
@font-face {
    font-family:'Lato-Bold';
    src:url("../fonts/Lato-Bold.ttf");
}

 *{ box-sizing: border-box;}
html, body{ height:100%; }
body{ position:static; margin:0; margin-bottom: 2300px; padding: 0;}
body{
  font-family: sans-serif;
  overflow-x: hidden;
  font-weight: normal;
  background-color: #F7F7F7;
}

span,body{
    font-family: 'Lato-Regular', 'Arial';

}

h1,h3{
    font-family: 'Lato-Black';
}


 section.main
{
    /*para o parallax*/
    /* z-index: 2;
    position: relative;
    width: 100vw;
    height: 1500px;
    margin-bottom: 350px; */
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* .cont {
    width: 100%;
    position: fixed;
    height: 350px;
    bottom: 0;
    z-index: -9;
} */
#ancora1, #ancora2, #ancora3, #bullseye-midia, #para-empresas, #contato{
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -10px; 
    z-index: -1;
}

#contato{
    margin-top: -150px;
}


 section.dobra-1{
    margin-top: -550px;
    min-width: 100vw;
    min-height: 550px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 0;
    word-wrap: break-word;



}



#bg-1{
    min-height:550px;
    background: url("../img/Background-dobra-1.png") 50%;
    background-size: 100% 100%;
    position: relative;
    display: block;
    z-index: 0;
    background-repeat: no-repeat;

}


.navbar-bullseye{
    text-align: center;
    background: #545454 !important;
    padding: 10px;
    padding-left: 100px;
    font-family: 'Lato-Bold';
    margin:20px 30px;
    margin-left: 40px;
    border-radius: 40px;
    padding-right: 25px;
    font-size: 14px;
    z-index: 2;
  }



  .navbar-nav > li{
      padding:0 0.7rem;

  }
  @media(min-width:992px)
  {
     .navbar-items{
         display: flex;
         justify-content: space-between;
      }

      .logo-nav-collapsed{
         display: none;
     }

     a.company-name{
         display: none;
     }
  }



 button.geral-button{
     background: #46cc66;
     color: #29723a;
     font-weight: bold;
     border-radius: 50px;
     border: none;
     padding: 5px 20px;
     outline: none;
     transition: 0.7s;

 }

 button.geral-button:hover{
    cursor: ponter;
    color: #69fd8b;
    background: #29723a;
    transition: 0.7s;


}
.raise:hover,
.raise:focus {
  box-shadow: 0 1rem 1rem -0.4rem #767c7c;
  transform: translateY(-0.30rem);
  transition: 0.7s;

}
 .nav-link{
     color: #F7F7F7!important;

 }

 .logo-circle{
     margin-top: 1.22em;
     margin-left: 25px;
     width: 80px;
     height: 80px;
     border-radius: 100%;
     background: #545454;
     z-index: 3;
     position: fixed;
     text-align: center;
     padding:15px;


 }


 @media(max-width: 991px)
 {
     .logo-circle{

     display:none;
     }
     .navbar-bullseye{
         padding-left: 0;
         padding: 0 20px 0 10px;

     }

     .navbar-collapse{
         padding: 15px;
     }


 }
 .logo-circle a .logo-nav{
     width: 100%;
     height: 100%;
 }

 .logo-nav-collapsed{
     max-width: 80%;
 }
 .navbar-brand{
     display: inline;

 }

 a.navbar-brand.company-name{
     color:#F7F7F7;

 }


 .header-section{
    margin-top: 1rem;
    padding: 2rem;
     display: flex;
     align-items: center;
     width: 100%;
     max-height: 100%;



}

img.target {
    width: 50%;
    z-index: -1;
}
div.header-1{


    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 0;
    max-width: 100%;
    margin-left: 10%;
    min-height: 500px;


}

div.header-2{
    padding: 0 3em;
    padding-bottom: 10rem;
    text-align: left;
    z-index: 0;
    position: relative;
    max-width: 100%;
    min-height: 700px;

}


.header-2 img.target{
    width: 80%;
}
div.header-2 .header-text{
    margin-bottom: 0;
}

.header-button-2 button.create-account{
    margin-top: 0;

}
.header-1 .header-content{
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    z-index: 0;
    margin-left: -22%;
    align-items: start;

}
.header-text{
    margin-bottom:30%;

}

.header-text h3{
    max-width: 100%;
    color: #545454;
    font-weight: bold;
}

.header-text h6{
    margin-top: 10px;
    color: #76767c;
    font-weight: 500;
    width:60%;
}

.header-2 .header-text h6{
    width: unset;
}

.header-2 .header-button-2{
    padding-top: 3rem;
}




button.create-account{
    margin-top: -10%;
    max-width: 210px;
    font-size: 13px;
    padding:10px;
    background: #46cc66;
     color: #29723a;
     font-weight: bold;
     border-radius: 50px;
     border: none;
}


section.dobra-2{
    margin: 0;
    margin-top: -550px;
   
    min-width: 100%;
    min-height: 550px;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: -1;
    word-wrap: break-word;
    padding: 1.5rem;

}

#bg-2{
    min-height:1200px; /*tela 4k 1400*/
    margin-top: -700px;
    background: url("../img/Background-dobra-2.png");
    /* background: pink; */
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    display: block;
    z-index: -2;
    background-repeat: no-repeat;
   

}


.d2-out{
    padding-top: 3rem;

    max-height: fit-content;
}
.d2-texts{
    font-family: 'Lato-Black';
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.d2-text h6 {
    padding: 1em;
    background: rgba(255,255,255, 0.75);
    font-weight: bold;
    border-radius: 2em;
}
.d2-text{
    color: #483c4b;
}
.d2-text h6{
    font-weight: bold;

}
.d2-texts .d2-one{
    margin-top: 2em;
    /* margin-top: 90px; */

}

.d2-texts .d2-two{
    margin-right: 8em;


}


section.dobra-3{
    margin: 0;
    margin-top: -1645px;
    min-width: 100%;
    min-height: 700px;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: -2;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bg-3{
    min-height: 2700px;
    margin-top: -1150px;
    background: url("../img/Background-dobra-5.png");
    /* background:lightgreen; */
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    display: block;
    z-index: -3;
    background-repeat: no-repeat;
  

}

.pc-image{
    text-align: center;
}


.pc-image img{
    max-width: 100%;
}
.d3-content{
    max-height: 100%;
    word-wrap: break-word;
}
.container{
    display: flex;
    justify-content: center;
}

.dobra-3 .colunas{
    margin-top: 8rem;
}



.out-container
{
    display: flex;
    padding-right: 5rem;
    padding-left: 5rem;


}

.two{

    margin-top: -15%;

} 
.services-columns{
    display: flex;
    justify-content: center;
}


.services{
    display: flex;
    max-width: 100%;
    z-index: 1;
    justify-content: center;
}

.services .items{
    display: flex;
    align-items: center;
    font-size: 14px;

}
.service-row{
    margin: 50px 0;
    display: flex;
}

.service-img {
    max-width: 45%;

}
.img-left .service-img{
    text-align: center;
}

.img-left .service-desc{
    text-align: left;
}

.img-right .service-desc{
    text-align:right;
}

.service-desc h6{
    /* font-family: 'Lato-Black'; */
    font-weight: bold;
    color: #545454;

}

.service-desc p {
    color: #767c7c;


}

.service-img img{
    width:90%;
}

.service-desc{
    padding-left:0;
}

section.dobra-4{

    margin: 0;
    margin-top: -700px;
    /* background: pink;  */
    /* padding: 20vh 10vw;  */
    min-width: 100%;
    min-height: 550px;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: -3;
    word-wrap: break-word;
    /* background: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-4{
    min-height:1600px;
    margin-top: -600px;
    background: url("../img/Background-dobra-4.png");
    /* background: bisque; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    display: block;
    z-index: -4;
    

     background-position: center;

}
.dobra-4 .subscribe{
    color:#F7F7F7

}

section.dobra-5{
    margin: 0;
    margin-top: -1250px;
    /* background: pink;  */
    /* padding: 20vh 10vw;  */
    min-width: 100%;
    min-height: 1150px;
    position: relative;
    overflow: hidden;
    z-index: -4;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: greenyellow; */
 

}

#bg-5{
    min-height:1800px;
    margin-top: -400px;
    background: url("../img/Background-dobra-5.png");
    /* background: lightsalmon; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    display: block;
    z-index: -5;
   

}
.d5-container{
    padding: 1em;
}
.para-empresas{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
}

.para-empresas h1{

    color: #545454;
    padding-bottom: 0.5em;

}
.personalize{

    color: #F7F7F7;
    background-color: #545454;
    border-radius: 100px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    /* width: 50%; */
}

.personalize .text{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 90%;
}

.personalize .text .bold{
    font-family: 'Lato-Black';
    font-weight: normal;
    text-align: left;
}
.dobra-5 h6{
    font-weight: normal;
    font-family: 'Lato-Black';
    font-weight: 600;
    padding: 1rem;
    /* width: 100%; */
}
.dobra-5 p {
    /* padding-top: 1rem; */
    font-size: 15px;
}

.img-video{
    padding: 0;
}
.img-video img{

    padding: 2rem;
    max-width: 100%;

}

.subscribe-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscribe-text h6{
    width:200px;
    font-weight: 700;

}

section.dobra-6{
    /* background: teal; */
    margin: 0;
    margin-top: -1100px;
    /* background: pink;  */
    min-width: 100%;
    min-height: 1100px;
    position: relative;
    overflow: hidden;
    z-index: -4;
    word-wrap: break-word;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 

}

#bg-6{
    min-height:1500px;
    margin-top: -400px;
    background: url("../img/Background-dobra-6.png");
    /* background: chocolate; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: block;
    z-index: -6;
   

}
.d6-texts, .dobra-6 .carousel-item{
    color: #F7F7F7;
}

.d6-texts p{
    font-size: 18px;
    max-width: 100%;
}

.dobra-6 .elements p{
    text-align: center;
    max-width: 100%;
    padding: 3rem;
}

#icone-email img{
    margin-top: -2.5em;
}
.dobra-6 img
{
   /* width: 36%; */
   margin: auto;
}


@media(min-width:1800px)
{
    .header-section{
        padding: 2rem !important;
    }

   
}

@media screen and (max-width:767px) and (min-width:425px){
    .dobra-6 img {
        width: 50%;
    }

}
@media screen and (max-width:426px){
    .dobra-6 img {
        width: 60%;
    }
    .header-section {
        margin-top: 2rem !important;
    }
    button.create-account{
        max-width: 150px;
    }

}
@media screen and (max-width:376px){
    .dobra-6 img {
        width: 70%;
    }

}
@media screen and (max-width:321px){
    .dobra-6 img {
        width: 80%;
    }

}


section.dobra-7{
    margin: 0;
    margin-top: -800px;
        min-width: 100%;
    min-height: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    align-items: center;
    z-index: -6;
    word-wrap: break-word;
}
#bg-7{
    min-height:1000px;
    margin-top: -200px;
    background: url("../img/Background-dobra-7.png") 50%;
    /* background: cornflowerblue; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: block;
    z-index: -7;
    
}
.d7-container{

    max-width: 100%;
    margin: 3rem 0;


}

.dobra-8{
    z-index: -7;

}
#bg-8{
    min-height:900px;
    margin-top: -900px;
    /* background: url("../img/Background-dobra-6.png") ; */
    background: #484c4b;
    background-size: 100%;
    /* background:crimson; */
    position: relative;
    display: block;
    z-index: -8;
    background-repeat: no-repeat;
    


}
.custom-shape-divider-bottom-1618926308 {
    margin-top: -100px;
    position: relative;
    z-index: -7;
   
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider-bottom-1618926308 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1618926308 .shape-fill {
    fill: #545454;
}




@media(max-width:1342px)
{
    #bg-2{
        background-size:cover;
        background-position:center;
    }
}





@media (min-width:1215px)
{
    .services .items{
        max-width: 70%;

    }

}


@media(max-width:645px)
{
    #bg-1, #bg-2,#bg-3,  #bg-4, #bg-5{
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    }
    
}


@media(min-width:250px) and (max-width:295px)
{

    /*DOBRA -3*/
    .out-container {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    #bg-3 {
        min-height: 1800px !important;
    }
    section.dobra-3 {
        margin-top: -1700px !important;
    }
    #bg-5 {
        min-height: 2800px;
    }

    section.dobra-5 {
        margin-top: -2450px;
    }
}
@media (min-width: 296px) and (max-width:430px)
{

    .out-container {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
    #bg-3 {
        min-height: 1900px !important;
    }
    section.dobra-3 {
        margin-top: -1790px !important;
    } 
   
    #bg-5 {
        min-height: 2700px;
    }

    section.dobra-5 {
        margin-top: -2350px;
    }
}

@media(min-width:430px)and (max-width:465px)
{
    #bg-3 {
        min-height: 1950px !important;
        margin-top: -200px;
    }

    section.dobra-3 {
    
        margin-top: -1840px !important;
    }

    #bg-5 {
        min-height: 2600px;
    }

    section.dobra-5 {
        margin-top: -2150px;
    }
}
   

    
@media(min-width:465px) and (max-width:490px)
{
    .out-container {
        display: flex;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    #bg-3 {
        min-height: 3100px !important;
    }
    section.dobra-3 {
        
        margin-top: -2045px !important;
    }
}
@media(min-width:491px) and (max-width:560px)
{
    .out-container {
        display: flex;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    #bg-3 {
        min-height: 3300px;
    }
    section.dobra-3 {
        
        margin-top: -2245px;
    }
}
@media(min-width:560px) and (max-width:575px)
{
    .out-container {
        display: flex;
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    #bg-3 {
        min-height: 3400px !important
        ;
    }
    section.dobra-3 {
        
        margin-top: -2345px !important;
    }
}

@media(min-width:576px) and (max-width:790px)
{
    .out-container{
        padding: 0 2em !important;
    }
    section.dobra-3 {
        margin-top: -1545px;
    }
    #bg-3 {
        min-height: 2600px;
    }
}

@media(min-width:768px) and (max-width:991px)
{
    #bg-5 {
        min-height: 2250px;
        margin-top: -300px;
    }
    section.dobra-5 {
        margin-top: -1850px;
    }
}
@media(max-width:465px)
{
    /*DOBRA 2*/

    
    .out-container {
        padding-left: 3em;
        padding-right: 3em;
    }

    #bg-3 {
        min-height: 2000px;
        margin-top: -200px;
    }

    section.dobra-3 {
    
        margin-top: -1890px;
    }

    #bg-4{
        min-height: 1300px;
    }
    section.dobra-4{
        margin-top: -600px;
    }
}
@media(min-width:465px) and (max-width:661px)
{
  
    #bg-5{
        min-height: 3050px;
    }
    section.dobra-5{
        margin-top: -2550px;
    }
}

@media(max-width:600px)
{
    #bg-2{
        min-height: 900px;
    }
}
@media(min-width:662px) and (max-width:768px)
{
    #bg-5{
        min-height: 2300px;
    }
    section.dobra-5 {
        margin-top: -1800px;
    }
}

@media(max-width:768px)
{
    .d2-texts{
        margin: 0;
    }
    
    .d2-texts .d2-two{
        margin-top: 2rem;
        margin-left: 0;
    }

    .navbar-bullseye{
        margin: 20px 10px;
    }

    .personalize{
        border-radius: 25px;
    }

 
}


@media(max-width:430px)
{
    .para-empresas h1{
        padding-top:5rem;
    }
 
}


@media (max-width:325px)
{
    a.navbar-brand.company-name{
        display: none;

    }
}






@media(max-width:575px)
    {

    .d2-texts .d2-two, .d2-texts .d2-one{
        padding:0;
    }
}

@media(max-width:465px)
{
    
    .flip-card{
        width: 245px !important;
        height: 245px !important;
    }
   
}

@media(max-width:800px)
{
    .d2-texts br{
        display: none;
    }
    .d2-texts .d2-one{
        margin-top: 70px;
    }
   
}

@media(min-width:992px)
{
    
  .nav-item:after{
    content: '';
    display: block;
    border-bottom: 2px solid #F7F7F7 ;
    transform: scaleX(0);
    transition: 250ms ease-in-out;

    }

    .nav-item:hover::after{
    transform: scaleX(1);
    }
    
}
@media(max-width:1270px)
{
    #bg-1, #bg-2{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    
    .d2-texts .d2-two{
       margin-right: 0 ;
   
   
   }
   img.target {
    width: 60%;
   }
    
    
    

   
}



@media(min-width:601px)
{
    div.header-2{
        display: none;
    }

}


@media(max-width:600px)
{
    .header-section{
        margin-top: 3rem;
    }
    div.header-1{
        display: none;
    }

}


@keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform: translatey(50px);
        -moz-transform: translatey(50px);
        -o-transform: translatey(50px);
        transform: translatey(50px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(-100px);
        -moz-transform: translatey(-100px);
        -o-transform: translatey(-100px);
        transform: translatey(-10px);
    }
}
.in-up {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-100px);
        -moz-transform: translatey(-100px);
        -o-transform: translatey(-100px);
        transform: translatey(-20px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration:1s;
    animation-delay: 0.5s;
}

@keyframes fadeinRight {
    from {
        opacity:0;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);

    }
    to {
        opacity:1;

        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
}
.in-right {
    -webkit-animation-name: fadeinRight;
    -moz-animation-name: fadeinRight;
    -o-animation-name: fadeinRight;
    animation-name: fadeinRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration:1s;
    animation-delay: 0.5s;
}


.zoom:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
